<h1>{{item.Name}}</h1>
<div class="img">
  <img ng-src="{{item.ThumbnailUrl}}"/>
</div>
<div class="info">
  <div class="stars">
    <label><a href="#" ng-click="hotelList.sort('Stars')" title="Click to sort by star rating">Star Rating:</a></label>
    <img src="img/star.svg" ng-repeat="n in app.starRange track by $index"
         ng-style="{opacity: ctrl.getStarOpacity($index)}"/>
  </div>
  <div class="distance">
    <label><a href="#" ng-click="hotelList.sort('Distance')" title="Click to sort by distance">Distance:</a></label>
    <span>{{item.Distance | number:2}} {{app.distanceUnits}}</span>
  </div>
  <div class="trpRating">
    <label>Trp Rating:</label>
    <span>??</span>
  </div>
  <div class="userRating">
    <label><a href="#" ng-click="hotelList.sort('UserRating')" title="Click to sort by user rating">User Rating:</a></label>
    <span>{{item.UserRating}}</span>
  </div>
  <div class="minCost">
    <label><a href="#" ng-click="hotelList.sort('MinCost')" title="Click to sort by min cost">Min Cost:</a></label>
    <span>{{item.MinCost | currency:app.currencySymbol}}</span>
  </div>
</div>
