<section id="search">
  <form name="filterForm">
    <div>
      <input type="text" id="name" placeholder="Hotel name" ng-model="search.filter.name"
             ng-model-options="{debounce: 300}" ng-pattern="/[a-z0-9]/i"/>
    </div>
    <div>
      <label for="starRange">Star Rating:</label>
      <select id="starRange"
              ng-model="search.filter.stars"
              ng-options="item as item for item in app.starRange">
      </select>
    </div>
    <!--<div>
      <label for="trpRatingRange">Min Trp Rating:</label>
      <select id="trpRatingRange"
              ng-model="search.filter.trpRating"
              ng-options="item as item for item in app.trpRatingRange">
      </select>
    </div>-->
    <div>
      <label for="userRatingRange">User Rating:</label>
      <select id="userRatingRange"
              ng-model="search.filter.userRating"
              ng-options="item as item for item in app.userRatingRange">
      </select>
    </div>
    <div>
      <label for="minCost">Cost:</label>
      <select id="minCost"
              ng-model="search.filter.minCost"
              ng-options="item as item for item in search.costRange">
      </select>
    </div>
    <button class="done" ng-click="app.toggleFilterDrawer()">Done</button>
  </form>
</section>
