// Simple Desktop layout
@media screen and (min-width : 800px) {

  #container {
    width    : 800px;
    height   : initial;
    overflow : visible;
    margin   : auto;
    position : relative;

    > header {
      background : transparent;
      &.open {
        background : transparent;
      }
      button {
        display : none;
      }
      h4 {
        display : block;
      }
    }
  }

  #search {
    button.done {
      display: none;
    }
  }

  #results {
    height   : initial;
    overflow : visible;
    width    : 600px;
    left     : 200px;

    > header {
      margin-top : 8px;
    }
  }

}
