@import "lib/mixins";
@import "lib/common";

@headerHeight: 15px;

html, body {
  font-family : 'trebuchet ms', verdana, arial;
  font-size   : 62.5%;
  height      : 100%;
}

body {
  margin     : 0;
  background : #333;

  .fontSize(20);
  color      : #FFF;
  box-sizing : border-box;
}

#container {
  position  : absolute;
  width     : 100%;
  height    : 100%;
  min-width : 320px;
  top       : 0;
  left      : 0;

  overflow  : hidden;

  > header {
    position      : absolute;
    height        : @headerHeight;
    background    : #666;
    border-radius : 0 3px 3px 0;
    padding       : 8px 3px;
    .fontSize(14);
    z-index       : 1;

    .transition(all, 150ms, ease-out);

    > div {
      position : relative;
      bottom   : 3px;
    }

    button {
      color      : #FFF;
      .buttonState();
      background : none;
      border     : none;
      .fontSize(14);
    }

    h4 {
      display   : none;
      font-size : 16px;
      margin    : 4px 6px;
    }

    &.open {
      background : #CCC;

      button {
        color : #000;
      }
    }
  }
}

section {
  position : absolute;
  top      : @headerHeight*2;
  left     : 0;
  width    : 100%;
}

#search {
  padding : 10px;

  form {
    > div {
      margin-bottom : 4px;
    }

    button.done {
      padding       : 8px 15px;
      border        : none;
      border-radius : 4px;
      background    : #EFEFEF;
      margin        : 10px 0 0 0;

      .buttonState();
      .fontSize(16);

      &.selected {
        background : lightgreen;
      }
    }

    label {
      display : inline-block;
      width   : 100px;
      .fontSize(15);
    }
    input[type=text] {
      width         : 170px;
      height        : 20px;
      margin        : 1px 0;
      border-radius : 4px;
      border        : none;
      text-indent   : 4px;
      .fontSize(16);
    }
    input[type=button] {
      width : 20px;
    }
    select {
      width : 80px;
      .fontSize(16);
    }
    ul {
      display : inline-block;
    }
    li {
      display      : inline-block;
      margin-right : 6px;
      &:last-child {
        margin-right : 0;
      }
    }
  }

}

#results {
  height                     : 100%;
  overflow-x                 : hidden;
  overflow-y                 : auto;
  -webkit-overflow-scrolling : touch;

  top                        : 0;
  background                 : #CCC;
  color                      : #111;
  text-align                 : center;

  .transition(left, 250ms, ease-in-out);

  &.open {
    left : 200px;
  }

  > header {
    text-align : left;
    margin     : 42px 9px 8px 8px;
  }

  h4 {
    display     : inline-block;
    position    : relative;

    .fontSize(14);
    font-weight : bold;
    .clearFix();

    &:last-child {
      float : right;
      top   : 5px;

      img {
        .transition(transform, 250ms, ease-in-out);
        .transform(rotate(-90deg));
        &.desc {
          .transform(rotate(90deg));
        }
      }
    }
  }

  ul {
    margin-bottom : 10px;
  }

  result {
    display          : block;
    margin           : 4px;
    padding          : 10px;
    background-color : #EFEFEF;
    border-radius    : 10px;

    text-align       : left;
    .fontSize(16);
    .clearFix();
  }

  h1 {
    margin-bottom : 8px;

    .fontSize(20);
    font-weight   : bold;
  }

  .img {
    float        : left;
    margin-right : 10px;

    img {
      width : 105px;
    }
  }

  label {
    display     : inline-block;
    width       : 80px;

    .fontSize(14);
    font-weight : bold;

    a {
      .buttonState();
    }
  }

  .info {
    div {
      margin-bottom : 6px;

      &.stars {
        margin-bottom : 2px;
        label {
          vertical-align : text-top;
        }
      }

      &:last-child {
        margin-bottom : 0;
      }
    }
  }

  .stars {
    img {
      width  : 18px;
      height : 18px;

    }
  }

  .btn {
    margin-bottom : 10px;
  }
}

footer {
  margin     : 15px;

  .fontSize(12);
  text-align : center;

  li {
    display : inline-block;

    &:after {
      content : ' | ';
    }
    &:last-child:after {
      content : ''
    }
  }

  a {
    color : #000;
  }

}

// Add desktop overrides
@import 'desktop';

