input:focus,
button:focus {
  outline: none;
}
.hidden {
  visibility: hidden;
}
.btn {
  display: inline-block;
  background: #808080;
  border-radius: 3px;
  padding: 10px 20px;
  font-size: 1.4rem;
  font-size: 14px;
  color: black;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.btn.disabled {
  opacity: 0.5;
  color: #666;
  cursor: not-allowed;
  pointer-events: none;
}
* {
  -webkit-tap-highlight-color: transparent;
}
html,
body {
  font-family: 'trebuchet ms', verdana, arial;
  font-size: 62.5%;
  height: 100%;
}
body {
  margin: 0;
  background: #333;
  font-size: 2rem;
  font-size: 20px;
  color: #FFF;
  box-sizing: border-box;
}
#container {
  position: absolute;
  width: 100%;
  height: 100%;
  min-width: 320px;
  top: 0;
  left: 0;
  overflow: hidden;
}
#container > header {
  position: absolute;
  height: 15px;
  background: #666;
  border-radius: 0 3px 3px 0;
  padding: 8px 3px;
  font-size: 1.4rem;
  font-size: 14px;
  z-index: 1;
  transition: all 150ms ease-out;
  -webkit-transition: all 150ms ease-out;
  -o-transition: all 150ms ease-out;
  -moz-transition: all 150ms ease-out;
}
#container > header > div {
  position: relative;
  bottom: 3px;
}
#container > header button {
  color: #FFF;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  background: none;
  border: none;
  font-size: 1.4rem;
  font-size: 14px;
}
#container > header h4 {
  display: none;
  font-size: 16px;
  margin: 4px 6px;
}
#container > header.open {
  background: #CCC;
}
#container > header.open button {
  color: #000;
}
section {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
}
#search {
  padding: 10px;
}
#search form > div {
  margin-bottom: 4px;
}
#search form button.done {
  padding: 8px 15px;
  border: none;
  border-radius: 4px;
  background: #EFEFEF;
  margin: 10px 0 0 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  font-size: 1.6rem;
  font-size: 16px;
}
#search form button.done.selected {
  background: lightgreen;
}
#search form label {
  display: inline-block;
  width: 100px;
  font-size: 1.5rem;
  font-size: 15px;
}
#search form input[type=text] {
  width: 170px;
  height: 20px;
  margin: 1px 0;
  border-radius: 4px;
  border: none;
  text-indent: 4px;
  font-size: 1.6rem;
  font-size: 16px;
}
#search form input[type=button] {
  width: 20px;
}
#search form select {
  width: 80px;
  font-size: 1.6rem;
  font-size: 16px;
}
#search form ul {
  display: inline-block;
}
#search form li {
  display: inline-block;
  margin-right: 6px;
}
#search form li:last-child {
  margin-right: 0;
}
#results {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  top: 0;
  background: #CCC;
  color: #111;
  text-align: center;
  transition: left 250ms ease-in-out;
  -webkit-transition: left 250ms ease-in-out;
  -o-transition: left 250ms ease-in-out;
  -moz-transition: left 250ms ease-in-out;
}
#results.open {
  left: 200px;
}
#results > header {
  text-align: left;
  margin: 42px 9px 8px 8px;
}
#results h4 {
  display: inline-block;
  position: relative;
  font-size: 1.4rem;
  font-size: 14px;
  font-weight: bold;
}
#results h4:after {
  content: '';
  clear: both;
}
#results h4:last-child {
  float: right;
  top: 5px;
}
#results h4:last-child img {
  transition: transform 250ms ease-in-out;
  -webkit-transition: transform 250ms ease-in-out;
  -o-transition: transform 250ms ease-in-out;
  -moz-transition: transform 250ms ease-in-out;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
}
#results h4:last-child img.desc {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
}
#results ul {
  margin-bottom: 10px;
}
#results result {
  display: block;
  margin: 4px;
  padding: 10px;
  background-color: #EFEFEF;
  border-radius: 10px;
  text-align: left;
  font-size: 1.6rem;
  font-size: 16px;
}
#results result:after {
  content: '';
  clear: both;
}
#results h1 {
  margin-bottom: 8px;
  font-size: 2rem;
  font-size: 20px;
  font-weight: bold;
}
#results .img {
  float: left;
  margin-right: 10px;
}
#results .img img {
  width: 105px;
}
#results label {
  display: inline-block;
  width: 80px;
  font-size: 1.4rem;
  font-size: 14px;
  font-weight: bold;
}
#results label a {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
#results .info div {
  margin-bottom: 6px;
}
#results .info div.stars {
  margin-bottom: 2px;
}
#results .info div.stars label {
  vertical-align: text-top;
}
#results .info div:last-child {
  margin-bottom: 0;
}
#results .stars img {
  width: 18px;
  height: 18px;
}
#results .btn {
  margin-bottom: 10px;
}
footer {
  margin: 15px;
  font-size: 1.2rem;
  font-size: 12px;
  text-align: center;
}
footer li {
  display: inline-block;
}
footer li:after {
  content: ' | ';
}
footer li:last-child:after {
  content: '';
}
footer a {
  color: #000;
}
@media screen and (min-width: 800px) {
  #container {
    width: 800px;
    height: initial;
    overflow: visible;
    margin: auto;
    position: relative;
  }
  #container > header {
    background: transparent;
  }
  #container > header.open {
    background: transparent;
  }
  #container > header button {
    display: none;
  }
  #container > header h4 {
    display: block;
  }
  #search button.done {
    display: none;
  }
  #results {
    height: initial;
    overflow: visible;
    width: 600px;
    left: 200px;
  }
  #results > header {
    margin-top: 8px;
  }
}
