@import "mixins";

input, button {
  &:focus {
    outline : none;
  }
}

.hidden {
  visibility: hidden;
}

.btn {
  display       : inline-block;
  background    : #808080;
  border-radius : 3px;
  padding       : 10px 20px;

  .fontSize(14);
  color         : black;

  .buttonState();

  &.disabled {
    opacity        : 0.5;
    color          : #666;
    cursor         : not-allowed;
    pointer-events : none;
  }
}

// prevent flicker on safari when clicking items
* {
  -webkit-tap-highlight-color: transparent;
}
