.fontSize(@px) {
  font-size: unit(@px/10, rem);
  font-size: unit(@px, px);
}

.clearFix() {
  &:after {
    content: '';
    clear: both;
  }
}

.userSelectNone() {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.buttonState() {
  cursor: pointer;
  .userSelectNone();
}

.transition(@prop:'all', @duration:'250ms', @ease:'ease-out') {
  transition: @prop @duration @ease;
  -webkit-transition: @prop @duration @ease;
  -o-transition: @prop @duration @ease;
  -moz-transition: @prop @duration @ease;
}

.transform(@detail) {
  transform: @detail;
  -webkit-transform: @detail;
  -o-transform: @detail;
  -moz-transform: @detail;
  -ms-transform: @detail;
}
