<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8"/>
  <title>Travel Republic - Hotel Finder</title>
  <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"/>
  <!-- build:css styles/main.min.css -->
  <link rel="stylesheet" href="styles/reset.css" />
  <link rel="stylesheet" href="styles/main.css" />
  <!-- endbuild -->
</head>
<body ng-app="finder">

<div id="container" ng-controller="AppController as app" class="hidden">
  <header ng-class="{open: app.filterDrawerOpen}">
    <div class="drawerBtn">
      <button ng-click="app.toggleFilterDrawer()">
        Edit Results Filter
      </button>
      <h4>Results Filter</h4>
    </div>
  </header>
  <search></search>
  <section id="results" ng-controller="HotelListController as hotelList"
           ng-class="{open: app.filterDrawerOpen}" class="hidden">
    <header>
      <h4>{{hotelList.getTotalResults()}} Results</h4>
      <h4>
        Sorted By: <a href="#" ng-click="hotelList.invertSort()">
        {{hotelList.getCurrentSortField()}}</a>
        <img src="img/arrow.png" class="{{hotelList.getCurrentSortOrder()}}"/>
      </h4>
    </header>
    <ul>
      <result ng-repeat="item in hotelList.items"></result>
    </ul>
    <div class="btn" ng-click="hotelList.showMore()"
         ng-class="{disabled: !hotelList.hasMoreResults()}">Show More
    </div>
  </section>
</div>

<script src="components/angular/angular.min.js"></script>
<script src="components/angular-touch/angular-touch.min.js"></script>
<script src="components/es5-shim/es5-shim.min.js"></script>
<script src="components/json3/lib/json3.min.js"></script>
<!-- build:js js/app.min.js -->
<script src="js/app.js"></script>
<script src="js/appController.js"></script>
<script src="js/hotelListController.js"></script>
<script src="js/components/search.js"></script>
<script src="js/components/result.js"></script>
<script src="js/services/hotelService.js"></script>
<script src="js/services/config.js"></script>
<script src="js/services/filterModel.js"></script>
<!-- endbuild -->

</body>
</html>
